$hmk-white:    #fff;
$hmk-gray-100: #f8f9fa;
$hmk-gray-200: #e9ecef;
$hmk-gray-300: #dee2e6;
$hmk-gray-400: #ced4da;
$hmk-gray-500: #adb5bd;
$hmk-gray-600: #6c757d;
$hmk-gray-700: #495057;
$hmk-gray-800: #343a40;
$hmk-gray-900: #212529;
$hmk-black:    #000;
$hmk-gray-100: #f8f9fa;
$hmk-primary: #0d6efd;
$hmk-width:      .25rem;
$hmk-opacity:    .25;
$hmk-color:      rgba($hmk-gray-300, $hmk-opacity);
$hmk-blur:       .1rem;
$hmk-box-shadow: 0 0 $hmk-blur $hmk-width $hmk-color;
$hmk-focus-box-shadow: $hmk-box-shadow;


$form-range-track-width: 100%;
$form-range-track-height: .08rem;
// $form-range-track-cursor: pointer;
$form-range-track-bg: $hmk-gray-300;
$form-range-track-border-radius: 0rem;
// $form-range-track-box-shadow: $box-shadow-inset;
$form-range-thumb-width: .60rem;
$form-range-thumb-height: $form-range-thumb-width;
$form-range-thumb-bg: $hmk-gray-300;
$form-range-thumb-focus-box-shadow: 0 0 0 1px $hmk-gray-100, $hmk-focus-box-shadow;
$form-range-thumb-focus-box-shadow-width: $hmk-width; // For focus box shadow issue in Edge
$form-range-thumb-active-bg: $hmk-gray-100;

@import "bootstrap/scss/bootstrap";