:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  background: var(--bs-warning);
  min-height: 100vh;
}

.btn {
  transition: scale 100ms;
}

.btn:hover {
  scale: 1.025;
}

.btn:active {
  animation: scaleDown 100ms;
}

.btn:enabled {
  background-color: var(--bs-btn-bg);
}

@keyframes scaleDown {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.95;
  }

  100% {
    scale: 1;
  }
}