:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  background: var(--bs-warning);
  min-height: 100vh;
}

.btn:enabled {
  background-color: var(--bs-dark);
}